<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Hello World</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

</head>

<body>
	<div class="wrapper">
		<div class="content">
			<div class="headerr">
				<div class="container">
					<div class="headerr_row">
						<div class="headder_body">
							<div class="headder_title">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="circle"></div>
		<div class="column">
			<div class="column1"></div>
			<div class="column2"></div>
			<div class="column3"></div>

		</div>

		<div class="form">

			<div class="form_content">
				<textarea name="area" cols=”25” rows=”5” wrap=”on”>Stop the count!</textarea>
				<footer class="footer">
					<footer class="footer_row">
						<button class="leftbutton"></button>
						<div class="rigth1">
							<button class="rightbutton">
								<p class="buttonp">Отправить</p>
							</button>
						</div>

					</footer>
			</div>
		</div>
	</div>



	</footer>

</body>

</html>